/* startup screen */

.startup-screen {
    background-color: #83bed073;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    height: 100vh;
    width: 100%;
  }
  
  .startup-screen .overlap-group-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: inline-flex;
    align-items: center; 
    background-color: #83bed073;
    height: 100%; 
    width: 100%; 
  }
  
  .startup-screen .overlap-group {
    position: relative; 
    display: flex;
    flex-direction: column;
    display: inline-flex;
    justify-content: center; 
    align-items: center;
  }
  
  .startup-screen .yumcat {
    height: 240px;
    object-fit: cover;
    position: absolute;
    justify-content: center;
    width: 349px;
    z-index: 1;
    top: -150px;
  }
  
  .startup-screen .group {
    height: 319px;
    position: relative;
    justify-content: center;
    width: 352px;
    left: -310px;
    top: -10px;
    z-index: 1;
  }
  
  .startup-screen .text-wrapper {
    -webkit-text-stroke: 1px #000000;
    color: #000000;
    font-family: "Lalezar", Helvetica;
    font-size: 128px;
    font-weight: 400;
    height: 264px;
    letter-spacing: 0;
    line-height: 200.6px;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 10.5px #00000040;
    top: 48px;
    width: 974px;
    z-index: 2;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .startup-screen .button {
    all: unset;
    align-items: center;
    background-color: #7da8cf;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 5px 3.6px 2px #00000040;
    display: inline-flex;
    justify-content: center;
    padding: 20px 40px;
    margin-top: 20px;
    cursor: pointer;
    z-index: 5;
  }
  
  .startup-screen .button:hover {
    animation: pulse .5s 1;
  }
  
  .startup-screen .div {
    color: #ffffff;
    font-family: "Lalezar", Helvetica;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 100.3px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 242px;
    z-index: 5;
  }
  



  /* name prompt */

  .name-prompt-container {
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  .name-prompt-container::before {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #58818d73; 
    filter: blur(10px); 
    z-index: -1; 
  }
  
  .name-prompt-container input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px; 
    background: rgba(255, 255, 255, 0.7); 
  }
  
  .name-prompt-container button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #71b7cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .name-prompt-container button:hover {
    background-color: #6298a8f5;
  }





/* index */
.index-container {
  
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center; 
}

.index-container h1 {
  font-size: 2rem; 
  margin: 0; 
}

.index-container p {
  font-size: 1.5rem; 
  margin: 0;
}




/* edit */

.edit-yum-container {
  position: relative; 
  padding: 20px;
}

.edit-yum-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.edit-yum-container form {
  display: flex;
  flex-direction: column;
  gap: 30px; 
}

.edit-yum-container form input,
.edit-yum-container form textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-yum-container form label {
  font-weight: bold;
  margin-right: 10px; 
}

.edit-yum-container form button {
  padding: 10px 20px; 
  font-size: 1rem; 
  background-color: #71b7cc; 
  color: white; 
  border: none;
  border-radius: 5px;
  cursor: pointer; 
}

.edit-yum-container form button:hover {
  background-color: #6298a8f5; 
}

.edit-yum-container img {
  position: absolute; 
  top: 10px;
  right: 10px;
  width: 300px; 
  height: auto; 
}



/* yum.jsx */
#yum {
  padding: 40px; 
  background-color: #f9f9f9;
  border: 1px solid #ddd; 
  border-radius: 30px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  text-align: center; 
}


#yum h1 {
  font-size: 2rem; 
  color: #333; 
  margin-bottom: 20px;
  text-align: center; 
}

#yum h2 {
  margin-top: -10px;
  font-size: 1.70rem;
  color: #555; 
  text-align: center; 
}


#yum div img {
  max-width: 50%; 
  height: auto; 
  border: 2px solid #ddd; 
  border-radius: 10px; 
  margin: 10px auto; 
  transition: all 0.3s;
}

#yum div img:hover {
  border-color: #71b7cc;
  transform: scale(1.05); 
}


#yum p {
  font-size: 1rem; 
  color: #666; 
  margin: 10px 0;
  text-align: center; 
}


#yum .button-container {
  display: flex;
  justify-content: center; 
  gap: 10px; 
}


#yum button {
  background-color: #71b7cc; 
  color: white; 
  padding: 10px 20px; 
  margin-top: 10px;
  font-size: 1rem; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

#yum button:hover {
  background-color: #6298a8; 
}

#yum .detail-line {
  display: flex; 
  justify-content: space-between; 
  padding: 10px 0;
  border-bottom: 1px solid #ddd; 
}

#yum .detail-line:last-child {
  border-bottom: none; 
}


#yum .label {
  font-weight: bold; 
  color: #555;
}


#yum .value {
  color: #333;
  text-align: right; 
}


.star-rating {
  display: flex; 
  align-items: center; 
}

.star {
  font-size: 1.5rem; 
  color: #ffac33; 
  cursor: pointer; 
}


.unfilled {
  color: #ccc; 
}
